@import '../../styles/variables';

.navbar {
  z-index: 99;
  padding-top: 1em;
  .navbar-brand {
    max-width: 200px;
  }
  .nav-item {
    .nav-link {
      color: $dark;
      cursor: pointer;
    }
  }
}

@media (min-width: $md) {
  .navbar {
    .nav-item {
      &.center {
        position: relative;
        padding: 0 1em;
      }
      .bar {
        position: absolute;
        right: -2.5px;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        height: 20px;
        background-color: black;
      }
    }
  }
}
