@import '../../styles/variables';
@import '../../styles/mixins';

.hero {
  padding-top: 0;
  background-image: url('../../assets/hero-bg.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  .logo,.arm{
    position: absolute;
    left: 50%;
  }
  .logo{
    width: 80%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
  }
  .arm{
    width: 38vw;
    min-width: 320px;
    bottom: 0;
    transform: translateX(-50%);
  }
}

@media (max-width: $sm) {
  .hero {
    min-height: 80vh;
    .logo {
      width: 70%;
    }
    
  }
}
