//constants
$black: #000000;
$dark: #0d100d;
$white: #ffffff;
$dark-gray: #333333;

//project specific
$primary-color: #ff494f;
$yellow: #FFC150;

//breakpoints
$xs: 576px;
$sm: 768px;
$md: 992px;
$xxl: 1400px;
